*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

ul{
    list-style-type: none;
}


/*CONF DE ESTILOS*/

/*Header e Topbar*/
header{
    position: relative;
    height: 50px;
    z-index: 1;
}

header .top-bar{
    background: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

header .top-bar > div{
    width: 33.3%;
    text-align: center;
}

/*Navegação e Conteúdos*/

section.main{
    background-color: aquamarine;
    position: relative;
    top: -50px;
    z-index: 0;

}

section.main .navegacao{
    width: 30%;
    height: 100vh;
    background-color: aqua;
    padding-top: 50px;
    float: left;
}

section.main .navegacao nav{
    width: 100%;
}

section.main .main-conteudo{
    float: right;
    width: 70%;
    height: 100vh;
    background-color: bisque;
    padding-top: 50px;
}

section.main .main-conteudo .box-conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.main .main-conteudo .box-conteudo .box-individual{
    padding: 10px 25px;
    
}

section.main .main-conteudo a{
    text-decoration: none;
}


/*FOOTER*/

footer{
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 14px;
    padding-bottom: 50px;

}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .footer-social{
    width: 50%;
    float: left;
}

/*404*/

section.erro404{
    padding: 30px 0;
    text-align: center;
}