*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    height: 100%;
    background: rgb(230, 230, 230);
}

body{
    overflow-x: hidden;
}

.w100{
    width: 100% !important;
}

.w50{
    width: 49% !important;
}

.box-two{
    width: calc(98% / 2) !important;
}

.left{
    float: left !important;
}

.right{
    float: right !important;
}

.blue{
    background: #1e42a5;
}

.red{
    background: #882020;
}

.green{
    background: green;
}

/*ESTILIZANDO PAGINA DE LOGIN*/

.box-login{
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    box-shadow: 4px 4px 8px rgb(120,120,120);
    border-radius: 30px;
    text-align: center;
}

.box-login h2{
    text-align: center;
    font-size: 19px;
    color: black;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
}

.box-login input[type=text],
.box-login input[type=password]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 8px;
    border-radius: 10px;
}

.box-login input[type=text]:focus,
.box-login input[type=password]:focus,
.box-login input[type=submit]:focus{
    outline: 0;
    border: 1px solid #1de9b6;
}

.box-login input[type=submit]:hover,
.box-content form input[type=submit]:hover{
    background: #229e7f;
}


.box-login input[type=submit],
.box-content form input[type=submit]{
    width: 140px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
    background: #1de9b6;
    color: white;
    border: 0;
    font-size: 14px;
    border-radius: 10px;
    font-weight: bolder;
}


.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: #f75353;
    color: white;
    font-size: 16px;
}

/*ESTILIZANDO MAIN*/

.center{
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: calc(100% - 250px);
    padding: 10px 0;
    background: #78909c;
    position: relative;
    left: 250px;
}

.menu-wrapper{
    width: 100%;
}

aside.menu{
    float: left;
    width: 250px;
    height: 100%;
    background: #455a64;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
}

.box-usuario{
    text-align: center;
}

.box-usuario .avatar-usuario{
    text-align: left;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #2f3d42;
}

.imagem-usuario{
    width: 130px;
    height: 130px;
    display: inline-block;
    border: 3px solid #2f3d42;
    position: relative;
    border-radius: 50%;
}

.imagem-usuario img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.box-usuario .avatar-usuario i{
    font-size: 50px;
    color: #2f3d42;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.nome-usuario{
    text-align: center;
    margin-top: 10px;
}

.nome-usuario p{
    font-size: 16px;
    color: white;
}

.logout{
    float: right;
}

.logout a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding-left: 8px;
}

.logout a span{
    font-size: 16px;
    padding-left: 8px;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

/*Conteudo principal*/

.content{
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 10px;
}

.box-content{
    background: white;
    padding: 10px;
    margin-bottom: 25px;
}

.items-menu{
    margin-top: 30px;
}

.items-menu h2{
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    background: #2f3042;
    color: white;
    padding: 8px;
}

.items-menu a{
    display: block;
    padding: 8px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #2f3042;
}

.box-metricas{
    margin-top: 20px;
    text-align: center;
}

.box-metrica-single{
    display: inline-block;
    width: calc(98% / 3);
    padding: 25px;
    text-align: left;
}

.box-metrica-wraper h2,.box-metrica-wraper p{
    font-size: 19px;
    font-weight: bold;
    color: white;
}


/*Tabela Responsiva*/

.tabela-resp{
    max-width: 98%;
    margin: 20px auto;
}

/*primeiro item deste tipo*/
.tabela-resp .row:nth-of-type(1){
    font-weight: bold;
    background: #1de9b6;
    color: white;
    border-bottom: 4px solid white;
}

.tabela-resp .row{
    color: #2f3042;
    padding: 8px 0;
    border-bottom: 1px solid #78909c;
    text-align: center;
}

.tabela-resp .row span{
    padding-left: 12px;
}

.col{
    float: left;
    width: calc(100% / 5);
}


/*Editar contato*/

.box-content form{
    margin: 30px 0;
}

.box-content form h3{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: block;
}

.box-content form label{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: inline-block;
    padding: 12px 0;
}

.box-content .form-group{
    margin: 15px 0;
}

.box-content .check-item{
    display: inline-block;
    margin-right: 10px;
}

.box-content form input[type=number]{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 80px;
    height: 30px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #455a64;
    border-radius: 10px;
}

.box-content .box-qtd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-content .qtd{
    flex: 20%;
    text-align: center;
    color: black;
}

.box-content .rad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-content .rad .flex-rad{
    text-align: center;
    color: black;
    margin-left: 12px;
    margin-right: 12px;
}

fieldset{
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #1de9b6;
    border-radius: 10px;
}

legend{
    padding: 4px 20px;
    font-size: 14px;
    border: 2px solid #455a64;
    border-radius: 10px;
    color: white;
    background: #2f3042;
    font-weight: bolder;
}

.box-content form input[type=text],
.box-content form input[type=password],
.box-content form select{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 30px;
    padding-left: 8px;
    margin-top: 8px;
    border: 1px solid #455a64;
    border-radius: 10px;
}

.box-content form textarea{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 150px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #455a64;
    resize: vertical;
}

.box-content form div{
    display: block;

}

.box-content form input[type=checkbox],
.box-content form input[type=radio]{
    transform: scale(1.3);
    display: inline-block;
    margin-left: 12px;
    margin-right: 6px;
}

.box-content form input[type=file]{
    border: 1px solid #455a64;
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 8px;
}

/*tabelas*/

table{
    width: 100%;
    min-width: 900px;
    margin: 20px 0;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-of-type(1){
    background: #1de9b6;
    color: white;
    font-weight: bold;
    border: 0;
}

table td{
    padding: 8px 0;
}

table td img{
    width: 90px;
    height: 50px;
}

table tr{
    border-bottom: 1px solid #78909c;
    color: #2f3042;
}

table a.btn{
    text-decoration: none;
    padding: 6px 12px;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.wraper-table{
    overflow-x: auto;
}

table a.btn.edit{
    background: #f4b03e;
}

table a.btn.del{
    background: #f75353;
}

table a.btn.order{
    background: #225c9e;
}

.col a.quest i{
    color: #1de9b6;
}


/*Paginação*/

.paginacao{
    text-align: center;
    margin: 20px 0;
}

.paginacao a{
    font-size: 14px;
    margin: 0 2px;
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #78909c;
    text-decoration: none;
    border-radius: 2px;
    color: #2f3042;
    font-weight: bold;
}

.paginacao a.pagina-selecionada{
    background: #2f3d42;
    color: white;
}

.box-alerta{
    width: 100%;
    height: 40px;
    text-align: center;
    background: #f75353;
    color: white;
    padding: 8px 0;
}

.sucesso{
    background: #a5d6a7;

}

.menu-active{
    background: #3a4b51;
}
/*Quando tem a classe menu-active, 
adiciona esse conteudo dinamicamente, antes da string*/
.menu-active::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 8px;
    content: "\f101";
}

form .form-group-login:nth-last-of-type(2){
    position: relative;
    top: 15px;
}

.form-group-login label{
    font-size: 13px;
    font-weight: 300;
    color: #455a64;
    padding-right: 10px;
}




/*Media Querys*/

@media screen and (max-width: 978px){
    .box-metrica-single{
        width: 100%;
        margin-top: 8px;
    }
}

@media screen and (max-width: 768px){
    .menu{
        display: none;
        padding: 0;
    }

    .content{
        width: 100%;
        left: 0;
    }

    header{
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 400px){
    .menu{
        width: 200px;
    }

    .w50{
        width: 100%;
    }
}